ul {
  list-style: none;
}
a:active,
a:link,
a:focus {
  color: inherit;
}
.Ariticle__container {
  width: 80%;
  margin: 0 auto;
}
.Ariticle__Title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.Ariticle__Main {
  margin-top: 30px;
  display: flex;
}
.Article__Hot {
  flex: 1;
}
.Article__Hot__Title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.Article__Hot__Item {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.Article__Order {
  border-radius: 0.8rem;
  height: 2em;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  background: #ccc;
  font-size: 18px;
  line-height: 18px;
  color: #000;
}
.Article__Sub {
  margin-left: 10px;
  font-size: 18px;
  color: #000;
}
.Article__List {
  flex: 2;
}
.Article__Item {
  display: flex;
  color: #000;
  margin-bottom: 20px;
  justify-items: center;
  align-items: center;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
  border-radius: 20px;
}
.Article__Img {
  width: 300px;
}
.Article__Main {
  width: 100%;
  border-radius: 20px;
}
.Ariticle__Name {
  font-size: 18px;
  flex: 3;
  margin-left: 20px;
}
@media only screen and (max-width: 1200px) {
  .Ariticle__Main {
    display: block;
  }
  .Article__List {
    display: block;
    margin-top: 2rem;
  }
  .Article__Item {
    display: block;
  }
  .Ariticle__Name {
    margin-top: 20px;
  }
  .Article__Img {
    width: 60%;
    margin: auto;
  }
}

@media only screen and (max-width: 739px) {
  .Ariticle__Main {
    display: block;
  }
  .Article__List {
    display: block;
    margin-top: 2rem;
  }
  .Article__Item {
    display: block;
  }
  .Ariticle__Name {
    margin-top: 20px;
  }
}
