{{! Head session }}
{{#section "head"}}
  <title>Apple nâng cấp công nghệ camera</title>
  <meta
    name="description"
    content="Apple luôn là hãng đi đầu trong công nghệ camera và thế hệ tiếp theo iphone 14 hứa hẹn sẻ bùng nổ công nghệ mới."
  />
  <meta name="keywords" content="iPhone, virus, iphone nhiễm virus" />
  {{! Canonical Links }}
  <link
    rel="canonical"
    href="http://localhost:3000/posts/apple-nang-cap-camera"
  />
  {{! OpenGraph tags }}
  <meta property="og:title" content="Cách Đề Phòng Iphone Bị Nhiễm Virus" />
  <meta
    property="og:description"
    content="Bên cạnh thiết kế và hiệu năng, cả thời lượng pin và thời gian sạc đều là một số thông số kỹ thuật được mọi người quan tâm trên loạt iPhone tiếp theo. Vậy iPhone 14 series có được cải thiện pin so với thế hệ trước?"
  />
  <meta
    property="og:url"
    content="http://localhost:3000/posts/apple-nang-cap-camera"
  />
  <meta
    property="og:image"
    content="https://team-13.herokuapp.com/image/blogs/blog4/ip14.jfif"
  />
  <meta
    property="og:image:secure_url"
    content="https://team-13.herokuapp.com/image/blogs/blog4/ip14.jfif"
  />
  <meta property="og:image:alt" content="13Team " />
  <meta property="og:type" content="article" />

{{/section}}
<link rel="stylesheet" href="/css/blog.css" />

<section class="">
  <div class="heading">
    <div class="title">
      <h1>Apple nâng cấp công nghệ camera</h1>
      <p>Các tin đồn gần đây đều cho rằng, iPhone 14 năm nay sẽ có những nâng
        cấp lớn về camera. Tuy nhiên, đó chưa phải là tất cả những công nghệ mà
        Apple đang có trong tay. Theo Forbes, đơn xin cấp bằng sáng chế mới của
        Apple cho thấy Táo khuyết đang phát triển một loại ống kính tele mới cải
        thiện khả năng thu phóng vượt trội. Bằng sáng chế được công bố trên
        PatentlyApple nêu chi tiết loại ống kính tele có thiết kế lăng kính đơn
        có thể gập.</p>
    </div>
    <img src="/image/blogs/blog4/ip14.jfif" alt="blog4" />
  </div>
  <div class="details">
    {{! <div class="table-of-contents">
      <div class="toc__heading">Mục lục
        <a href="#" rel-script="toggle-table-of-content">[Hiện]</a></div>
      <ul id="toc" class="">
        <li><a href="#heading-1">Xóa Ứng Dụng Độc Hại</a></li>
        <li><a href="#heading-2">Bật Tính Năng Xác Thực Bảo Mật</a></li>
        <li><a href="#heading-3">Sử dụng ứng dụng phần mềm diệt virus</a></li>
        <li><a href="#heading-4">Chỉ nên download phần mềm tử AppleStore</a></li>
        <li><a href="#heading-5">Cập Nhật Phiên Bản IOS mới nhất</a></li>
      </ul>
    </div> }}
    {{! <h2 id="heading-1">Xóa Ứng Dụng Độc Hại</h2>
    <p>
      <img src="/image/blogs/blog3/dochai.jpg" alt="iphone 14 " />
    </p> }}
    <p>
      Ống kính gập thường sử dụng hệ thống nhiều lăng kính hoặc gương phức tạp
      để định hướng ánh sáng phía trong vỏ smartphone. Tuy nhiên, ánh sáng đi
      qua nhiều thành phần quang học trước khi đến cảm biến có thể làm giảm chất
      lượng hình ảnh đáng kể. Trong khi telephoto gập của Apple có thể tích hợp
      cả bề mặt phản chiếu, mặt chống phản xạ và màn che khẩu độ trên cùng một
      mảnh vật liệu, để đạt được chất lượng hình ảnh cao mà không cần nhiều
      thành phần quang học.
    </p>
    {{! <h2 id="heading-2">Bật Tính Năng Xác Thực Bảo Mật</h2> }}
    <p>
      <img src="/image/blogs/blog4/apple-patent-196.webp" alt="iphone 14 " />
    </p> 
    <p>Các ống kính tele đủ nhỏ để sử dụng trên smartphone thường rất khó thiết
      kế, chi phí sản xuất cao và thường mang lại chất lượng ảnh kém hơn ống
      kính chính của smartphone. Đây là lý do tại sao các hệ thống camera có
      zoom quang học mạnh nhất chỉ dành cho các smartphone hàng đầu. Ống kính
      telephoto gập của Apple rất có thể sẽ đem lại khả năng chụp ảnh vượt trội
      trên các iPhone tương lai. Nhưng tất nhiên, đây mới chỉ là bằng sáng chế
      nên không có gì đảm bảo công nghệ telephoto mới này sẽ sớm xuất hiện trên
      các mẫu iPhone thế hệ tiếp theo của Apple.</p>
    
</section> 
<script src="/js/blog.js"></script>