<link rel="stylesheet" href="/css/blogs.css" />
<div class="Ariticle__container">
  <h1 class="Ariticle__Title">Bài Viết</h1>
  <div class="Ariticle__Main">
    <session class="Article__Hot">
      <h2 class="Article__Hot__Title">Bài Viết Hot</h2>
      <ul class="Article__Hot__List">
        <li class="Article__Hot__Item">
          <span class="Article__Order">1</span>
          <span class="Article__Sub">7 Cách Giảm Cân</span>
        </li>
        <li class="Article__Hot__Item">
          <span class="Article__Order">1</span>
          <span class="Article__Sub">7 Cách Giảm Cân</span>
        </li>
        <li class="Article__Hot__Item">
          <span class="Article__Order">1</span>
          <span class="Article__Sub">7 Cách Giảm Cân</span>
        </li>
      </ul>

    </session>
    <session class="Article__List">
      <div class="Article__Item">
        <div class="Article__Img">
          <img
            src="https://techkalzen.com/wp-content/uploads/2020/02/tron-bo-nhung-hinh-anh-dep-buon-mang-tam-trang-suy-tu-1.jpg"
          />
        </div>
        <p class="Ariticle__Name"> 7 cách giảm cân</p>
      </div>
      <div class="Article__Item">
        <div class="Article__Img">
          <img
            src="https://techkalzen.com/wp-content/uploads/2020/02/tron-bo-nhung-hinh-anh-dep-buon-mang-tam-trang-suy-tu-1.jpg"
          />
        </div>
        <p class="Ariticle__Name"> 7 cách giảm cân</p>
      </div>
      <div class="Article__Item">
        <div class="Article__Img">
          <img
            src="https://techkalzen.com/wp-content/uploads/2020/02/tron-bo-nhung-hinh-anh-dep-buon-mang-tam-trang-suy-tu-1.jpg"
          />
        </div>
        <p class="Ariticle__Name"> 7 cách giảm cân</p>
      </div>
      <div class="Article__Item">
        <div class="Article__Img">
          <img
            src="https://techkalzen.com/wp-content/uploads/2020/02/tron-bo-nhung-hinh-anh-dep-buon-mang-tam-trang-suy-tu-1.jpg"
          />
        </div>
        <p class="Ariticle__Name"> 7 cách giảm cân</p>
      </div>
    </session>

  </div>

</div>