{{!-- Head session --}}
{{#section 'head'}}
<title>4 Cách thiết lập kiểm soát phụ huynh cho Safari chính xác nhất</title>
<meta name="description" content="Dưới đây là 4 cách thiết lập kiểm soát phụ huynh cho Safari hiệu quả và chính xác nhất để con bạn có thể sử
        dụng Internet an toàn và tự do nhất có thể.">
<meta name="keywords"
  content="Safari , Kiểm soát trình duyệt, Chặn nội dung xấu, Kiểm soát phụ huynh, Mackbook, iPad, iPhone">
{{!-- Canonical Links --}}
<link rel="canonical" href="https://team-13.herokuapp.com/posts/4-cach-thiet-lap-kiem-soat-phu-huynh-cho-safari" />
{{!-- OpenGraph tags --}}
<meta property="og:title" content="4 Cách thiết lập kiểm soát phụ huynh cho Safari chính xác nhất">
<meta property="og:description" content="Dưới đây là 4 cách thiết lập kiểm soát phụ huynh cho Safari hiệu quả và chính xác nhất để con bạn có thể sử
        dụng Internet an toàn và tự do nhất có thể.">
<meta property="og:url" content="https://team-13.herokuapp.com/posts/4-cach-thiet-lap-kiem-soat-phu-huynh-cho-safari">
<meta property="og:image" content="https://team-13.herokuapp.com/image/image/blogs/blog2/preview.jpg">
<meta property="og:image:secure_url" content="https://team-13.herokuapp.com/image/blog2/blog1/preview.jpg">
<meta property="og:image:alt" content="13Team">
<meta property="og:type" content="article">
{{/section}}
<link rel="stylesheet" href="/css/blog.css" />


<section class="">
  <div class="heading">
    <div class="title">
      <h1>4 Cách thiết lập kiểm soát phụ huynh cho Safari chính xác nhất</h1>
      <p>Việc để các thành viên nhỏ tuổi trong gia đình sử dụng Internet nói chung và iPhone, iPad và MacBook nói riêng
        hoàn toàn có thể tạo cơ hội cho trẻ tiếp xúc với các nội dung không phù hợp với lứa tuổi. Đã có trường hợp một
        phụ huynh bắt quả tang đứa trẻ lớp Một của cô ấy xem nội dung khiêu dâm trên mạng.</p>
      <p>Để phần nào ngăn chặn những mối nguy hiểm như vậy, Apple có một loạt các chức năng kiểm soát của phụ huynh
        trong trình duyệt Safari cho phép bạn hạn chế loại nội dung mà trẻ nhỏ xem và xác định thời gian trẻ em có thể
        sử dụng thiết bị.</p>
      <p>Bên dưới là 4 cách thiết lập kiểm soát phụ huynh cho Safari hiệu quả và chính xác nhất để con bạn có thể sử
        dụng Internet an toàn và tự do nhất có thể. </p>
      <p>
        Chủ động luôn là đặc tính vốn có của các bậc cha mẹ hiện đại. Để bảo vệ con tốt hơn nữa khỏi <strong>
          mọi trang web khiêu
          dâm
        </strong>, bạo lực, giết người, dù con dùng <strong>bất kì thiết bị kết nối Internet nào</strong>, bạn nên đặt
        trước
        <a href="https://cyberpurify.com/wifi-device/">Wifi Device</a>,
        trở
        thành các bậc phụ huynh đầu tiên sở hữu giải pháp 24/7 bảo vệ con bạn khỏi các trang web độc hại.
      </p>

    </div>
    <img src="/image/blogs/blog2/preview.jpg" alt="">
  </div>
  <div class="details">
    <div class="table-of-contents">
      <div class="toc__heading">Mục lục <a href="#" rel-script="toggle-table-of-content">[Hiện]</a></div>
      <ul id="toc" class="">
        <li><a href="#heading-1">Cách thiết lập kiểm soát phụ huynh cho Safari trên iPhone</a></li>
        <li><a href="#heading-2">Cách thiết lập kiểm soát phụ huynh cho Safari trên iPad</a></li>
        <li><a href="#heading-3">Cách thiết lập kiểm soát phụ huynh trên cho Safari MacBook</a></li>
        <li><a href="#heading-4">Cách thiết lập kiểm soát phụ huynh cho Safari bằng tiện ích mở rộng
            (Add-on/Extension)</a></li>
      </ul>
    </div>
    <h2 id="heading-1">Cách thiết lập kiểm soát phụ huynh cho Safari trên iPhone</h2>
    <p>
      Tính năng kiểm soát phụ huynh có sẵn cho Safari trên iPhone là một phần của chức năng “Thời gian sử dụng” (Screen
      Time). Như tên gọi, chức năng này không chỉ kiểm soát nội dung trên Safari, tính năng này còn có thể giúp bạn đặt
      giới hạn sử dụng thiết bị. Để thiết lập kiểm soát phụ huynh trên iPhone đặc biệt là trên trình duyệt Safari, bạn
      thực hiện theo các bước sau:
    </p>
    <ol>
      <li>Nhấn vào Cài đặt (Settings)</li>
      <li>Nhấn vào Thời gian sử dụng (Screen Time)</li>
      <li>Nhấn vào Giới hạn nội dung và quyền riêng tư (Contents & Privacy Restrictions)</li>
      <li>Chuyển thanh trượt Contents & Privacy Restrictions thành bật, hoặc sang màu xanh lục.
        <p>
          <img class="square" src="/image/blogs/blog2/pic1.png" alt="settings">
        </p>
      </li>
      <li>Nhấn vào Allowed Apps. Để tắt hoàn toàn Safari và ngăn duyệt web trên thiết bị này, bạn hãy tắt Safari đi
        (chuyển thanh trượt Safari thành màu trắng) <p>
          <img class="square" src="/image/blogs/blog2/pic2.png" alt="settings">
        </p>
      </li>
      <li>Nhấn vào Content Restictions.</li>
      <li>Nhấn vào Web Content.
        <ul>
          <li>Tính năng Unrestricted Access cho phép con bạn truy cập vào bất kì nội dung nào</li>
          <li>Tính năng Giới hạn trang web người lớn (Limit Adult Website): cho phép bạn ngăn quyền truy cập vào danh
            sách các trang web dành cho người lớn của Apple trên điện thoại. Bạn có thể bổ sung thủ công bằng cách nhấn
            vào Add Website, sau đó thêm địa chỉ của các trang web.</li>
          <li>
            <p><img class="square" src="/image/blogs/blog2/pic3.png" alt="settings"></p>
            Tính năng Chỉ cho phép một số trang web nhất định (Allowed Websites Only) giúp bạn giới hạn thiết bị này
            và con bạn chỉ có thể truy cập các trang web được xác định trước. Để thêm các trang web bổ sung vào danh
            sách này, hãy chạm vào Add Wesbite, sau đó thêm địa chỉ của các trang web. Để xóa các trang web khỏi danh
            sách, hãy trượt từ phải sang trái, sau đó nhấn vào Delete.
          </li>
        </ul>
      </li>
    </ol>

    <h2 id="heading-2">Cách thiết lập kiểm soát phụ huynh cho Safari trên iPad</h2>
    <p>Vì iPhone và iPad sử dụng một hệ điều hành rất giống nhau nên Safari Parental Controls trên iPad, <a
        href="https://cyberpurify.com/knowledge/cach-thiet-lap-kiem-soat-phu-huynh/">
        về cơ bản,
        giống như trên iPhone
      </a>. Cả hai đều có chức năng Screen Time. Cách thiết lập cũng tương tự như các bước bên trên:
    </p>
    <ol>
      <li>Nhấn vào Settings.</li>
      <li>Nhấn vào Screen Time.</li>
      <li>Nhấn vào Contents & Privacy Restrictions.</li>
      <li>Bật tính năng Contents & Privacy Restrictions, hoặc chuyển nó sang màu xanh lục.</li>
      <li>Nhấn vào Allowed Apps. Để tắt hoàn toàn Safari và ngăn duyệt web trên iPad của bạn, hãy chuyển thanh trượt
        Safari thành tắt, hoặc sang màu trắng.</li>
      <li>Nhấn vào Content Restrictions, sau đó nhấn Web Content.</li>
      <li>Trong phần Web Content, bạn có thể đặt các quyền như bạn muốn: <ul>
          <li>Tính năng Unrestricted Access cho phép con bạn truy cập vào bất kì nội dung nào</li>
          <li>Tính năng Giới hạn trang web người lớn (Limit Adult Website): cho phép bạn ngăn quyền truy cập vào danh
            sách các trang web dành cho người lớn của Apple trên điện thoại. Bạn có thể bổ sung thủ công bằng cách nhấn
            vào Add Website, sau đó thêm địa chỉ của các trang web.</li>
          <li>Tính năng Chỉ cho phép một số trang web nhất định (Allowed Websites Only) giúp bạn giới hạn thiết bị này
            và con bạn chỉ có thể truy cập các trang web được xác định trước. Để thêm các trang web bổ sung vào danh
            sách này, hãy chạm vào Add Wesbite, sau đó thêm địa chỉ của các trang web. Để xóa các trang web khỏi danh
            sách, hãy trượt từ phải sang trái, sau đó nhấn vào Delete.</li>
        </ul>
      </li>
    </ol>
    <h2 id="heading-3">Cách thiết lập kiểm soát phụ huynh trên cho Safari MacBook</h2>
    <p>Mac cũng sử dụng Screen Time để cung cấp cho cha mẹ quyền kiểm soát Safari, bạn có thể tìm hiểu kỹ hơn về cách
      thiết lập kiểm soát phụ huynh trên MacBook. Cách bạn truy cập Screen Time rất khác so với iPhone hay iPad, bên
      dưới là cách thực hiện:</p>
    <ol>
      <li>Nhấn vào logo Apple</li>
      <li>Chọn Tuỳ chỉnh hệ thống (System Preferences)</li>
      <li>Chọn Thời gian sử dụng (Screen Time)</li>
      <li>Nhấn vào Nội dung & Quyền riêng tư (Content & Privacy)</li>
      <li>Ở góc trên cùng bên phải, nhấp vào Turn On. <p>
          <img class="square" src="/image/blogs/blog2/pic4.png" alt="macbook">
        </p>
      </li>
      <li> Nhấn vào Content, sau đó chọn một trong các tùy chọn sau:
        <ul>
          <li>Unrestricted Access: Tính năng này cho phép con bạn truy cập bất kỳ trang nào trên web</li>
          <li>Limit Adult Website: Tính năng này cho phép chặn các trang web mà Apple đã liệt kê là dành cho người lớn.
            Cũng như iPhone và iPad, bạn cũng có thể bổ sung thủ công các trang web của riêng bạn ở đây</li>
          <li>Allowed Websites Only: Bạn có thể tạo một danh sách các trang web là những trang duy nhất mà con bạn có
            thể truy cập bằng cách thêm địa chỉ của chúng vào danh sách này.
            <p>
              <img class="square" src="/image/blogs/blog2/pic5.png" alt="macbook">
            </p>
          </li>
        </ul>
      </li>
    </ol>
    <h2 id="heading-4">Cách thiết lập kiểm soát phụ huynh cho Safari bằng tiện ích mở rộng (Add-on/Extension)</h2>
    <p>Các tính năng có sẵn của Safari có thể giúp bạn bảo vệ con bạn nhưng chỉ ở một mức độ nào đó mà thôi. Những nội
      dung độc hại như <a href="https://cyberpurify.com/knowledge/noi-dung-khieu-dam-nham-vao-con-ban/">nội dung khiêu
        dâm được tạo ra và lan nhanh hơn bao giờ hết</a>, vì vậy mà bộ lọc của Apple sẽ không
      đủ nhanh và bạn cũng không đủ thời gian và công sức để bổ sung thủ công từng trang web được.</p>
    <p>
      Đây là lí do tại sao bạn nên kết hợp sử dụng tiện ích mở rộng (extension) trên trình duyệt Safari chẳng hạn như
      <a href="https://cyberpurify.com/porn-blocker/">công cụ lọc nội dung online</a> để ẩn đi 15 loại nội dung độc hại
      trên Internet, bao gồm:
    </p>
    <ul>
      <li>Nội dung khiêu dâm</li>
      <li>Nội dung kinh dị như máu me, tai nạn, ma quỷ, bạo lực, giết người, khủng bố, v.v</li>
      <li>Nội dung về chất kích thích, chất gây nghiện như rượu, bia, cần sa, ma tuý,v.v</li>
      <li>Nội dung mang yếu tố gây hấn, tổn thương người khác như Hate speech</li>
    </ul>
    <p>
      Điều đặc biệt là tiện ích mở rộng này hoàn toàn miễn phí, giúp hạn chế tối đa việc con bạn tiếp cận với nội dung
      độc hại, <strong>đảm bảo môi trường mạng lành mạnh cho con</strong> nhưng <strong>không xâm hại quyền riêng tư của
        con.
        con.</strong>

    </p>
    <p>
      <img src="/image/blogs/blog2/pic6.jpg" alt="">
    </p>
    <p>
      Cách thực hiện trên trình duyệt Safari:
    </p>
    <ol>
      <li>Mở trình duyệt Safari</li>
      <li>Chọn Safari bên góc trên bên trái màn hình</li>
      <li>Chọn Safari Extension</li>
      <li>Nhấn vào ô tìm kiếm, chọn CyberPurify</li>
      <li>Chọn tải về
        <p>
          <img class="square" src="/image/blogs/blog2/pic7.png" alt="">
        </p>
      </li>
      <li>Sau khi tải về, bạn có thể chọn icon chữ C bên trái thanh địa chỉ web để kiểm tra xem tiện ích đã giúp bạn
        chặn được bao nhiêu nội dung độc hại.
        <p>
          <img src="/image/blogs/blog2/pic8.png" alt="" class="square">
        </p>
      </li>
    </ol>
    <p>Chúc cha mẹ bảo vệ con tốt hơn và hiệu quả hơn trên không gian mạng!</p>
  </div>
</section>
<script src="/js/blog.js" />