<link rel="stylesheet" href="/css/blogs.css" />
<div class="Ariticle__container">
  <h1 class="Ariticle__Title">Bài Viết</h1>
  <div class="Ariticle__Main">
    <session class="Article__Hot">
      <h2 class="Article__Hot__Title">Bài Viết Hot</h2>
      <ul class="Article__Hot__List">
        <a href="/posts/iphone14-lieu-con-dinh-loi-nguyen-ve-pin">
          <li class="Article__Hot__Item">
            <p class="Article__Order">1</p>
            <p class="Article__Sub">iPhone 14 sắp được ra mắt, liệu có còn dính
              lời nguyền về pin</p>
          </li>

        </a>
        <a href="/posts/4-cach-thiet-lap-kiem-soat-phu-huynh-cho-safari">
          <li class="Article__Hot__Item">
            <p class="Article__Order">2</p>
            <p class="Article__Sub">4 Cách thiết lập kiểm soát phụ huynh cho
              Safari chính xác nhất</p>
          </li>

        </a>
        <a href="/posts/cach-de-phong-iphone-bi-nhiem-virus">
          <li class="Article__Hot__Item">
            <p class="Article__Order">3</p>
            <p class="Article__Sub">Cách đề phòng Iphone Bị Nhiễm Virus</p>
          </li>

        </a>

      </ul>

    </session>
    <session class="Article__List">
      <a
        href="/posts/iphone14-lieu-con-dinh-loi-nguyen-ve-pin"
        class="Article__Item"
      >
        <div class="Article__Img">
          <img class="Article__Main" src="/image/blogs/blog1/x2_1280x720.jpg" />
        </div>
        <p class="Ariticle__Name">
          iPhone 14 sắp được ra mắt, liệu có còn dính lời nguyền về pin</p>
      </a>
      <a
        href="/posts/4-cach-thiet-lap-kiem-soat-phu-huynh-cho-safari"
        class="Article__Item"
      >
        <div class="Article__Img">
          <img class="Article__Main" src="/image/blogs/blog2/preview.jpg" />
        </div>
        <p class="Ariticle__Name">4 Cách thiết lập kiểm soát phụ huynh cho
          Safari chính xác nhất</p>
      </a>
      <a
        href="/posts/cach-de-phong-iphone-bi-nhiem-virus"
        class="Article__Item"
      >
        <div class="Article__Img">
          <img class="Article__Main" src="/image/blogs/blog3/dochai.jpg" />
        </div>
        <p class="Ariticle__Name">
          Cách đề phòng Iphone Bị Nhiễm Virus</p>
      </a>
      <a href="/posts/apple-nang-cap-camera" class="Article__Item">
        <div class="Article__Img">
          <img class="Article__Main" src="/image/blogs/blog4/ip14.jfif" />
        </div>
        <p class="Ariticle__Name">
          Apple nâng cấp công nghệ camera</p>
      </a>
    </session>

  </div>

</div>